                         --- Day 1: Not Quite Lisp ---                          
                      https://adventofcode.com/2015/day/1                       
------------------------------- Example data 1/9 -------------------------------
(())
--------------------------------------------------------------------------------
answer_a: 0
answer_b: -
--------------------------------------------------------------------------------


------------------------------- Example data 2/9 -------------------------------
()()
--------------------------------------------------------------------------------
answer_a: 0
answer_b: -
--------------------------------------------------------------------------------


------------------------------- Example data 3/9 -------------------------------
(((
--------------------------------------------------------------------------------
answer_a: 3
answer_b: -
--------------------------------------------------------------------------------


------------------------------- Example data 4/9 -------------------------------
(()(()(
--------------------------------------------------------------------------------
answer_a: 3
answer_b: -
--------------------------------------------------------------------------------


------------------------------- Example data 5/9 -------------------------------
))(((((
--------------------------------------------------------------------------------
answer_a: 3
answer_b: -
--------------------------------------------------------------------------------


------------------------------- Example data 6/9 -------------------------------
())
--------------------------------------------------------------------------------
answer_a: -1
answer_b: -
--------------------------------------------------------------------------------


------------------------------- Example data 7/9 -------------------------------
))(
--------------------------------------------------------------------------------
answer_a: -1
answer_b: -
--------------------------------------------------------------------------------


------------------------------- Example data 8/9 -------------------------------
)))
--------------------------------------------------------------------------------
answer_a: -3
answer_b: -
--------------------------------------------------------------------------------


------------------------------- Example data 9/9 -------------------------------
)())())
--------------------------------------------------------------------------------
answer_a: -3
answer_b: -
--------------------------------------------------------------------------------


